**/node_modules
**/.next
**/dist
**/.venv
venv
**/__pycache__
*.pyc
.env
**/.env
.env.*
!.env.example
.git
.gitignore
*.db
**/*.db
*.tsbuildinfo
**/*.tsbuildinfo
*.log
**/*.log
.DS_Store
apps/worker-python/documentos
